html {
  background-image: url(../images/blackpaper.jpg);
}

header {
  box-sizing: border-box;
  color: #00ff41;
  font-size: 50px;
  height: 200px;
  padding: 10px;
  text-align: center;
  width: 100%;
}


/* spells */

.spell {
  background-color: rgba(0,0,0,0.6);
}

.spell td {
  border: solid black 1px;
  color: #00ff41;
  padding: 5px;
}

.spell th {
  background-color: #000000;
  color: #00ff41;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
